html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--clr-main-bg);
  color: var(--clr-dark-black);
  font-size: var(--fs-normal);
  padding: 1em;
}
/* Navbar */
.navbar {
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 1.5rem;
  font-weight: 500;
}

.links {
  /* height: 0; */
  overflow: hidden;
  list-style-type: none;
  transform: translateX(100%);

  li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
  }
}
.show-links {
  height: 50dvb;
  background-color: var(--clr);
  transform: translateX(50%);
  transition: ease-in-out 0.5s;
  /* position: fixed; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: fixed;
  inset: 100px 150px 0 0;
  padding: 0;
  border-radius: 10px;

  .links_flex {
    margin-block-start: 3em;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.fa-solid {
  font-size: 1.2rem;
  color: var(--clr-text-header);
  float: right;
  margin-block-start: 1em;
  margin-inline-end: 1em;
}
.nav-toggle {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  border: none;
}

.nav-toggle.active {
  transform: rotate(90deg);
}


.navbar-links-container {
}

/* Hero section */
.hero {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.hero_img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: none;
  margin: 0 auto;
}
.hero_title {
  font-size: 2.5rem;
  color: var(--clr-text-header);
  font-weight: 700;
  text-align: center;
}
.hero_descr {
  text-align: center;
  margin-inline: 1em;
  margin-block-end: 1em;
  text-transform: capitalize;
}

.hero_button {
  background-color: var(--clr-text-header);
  color: var(--clr-text);
  border: none;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 7px;
  padding-block: 0.3em;
  padding-inline: 0.7em;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

/* About Page */
.about_title {
  color: var(--clr-text-header);
  font-size: 1.8rem;
  text-transform: capitalize;
}
.about_tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-block-start: 3em;
  img {
    width: 120px;
    height: 120px;
  }
}
@media only screen and (min-width: 780px) {
  .navbar {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
    gap: 1rem;
    transform: translateX(0);
  }
  .links_flex {
    display: flex;
    /* flex-direction: column; */
    gap: 3rem;
  }
  .links_close {
    display: none;
  }
  .hero {
    flex-direction: row;
    align-items: center;
    /* justify-content: start; */
    /* margin-inline: 5em; */
    gap: 2.5rem;
    margin-block: 2.5em;
  }
  .hero_title {
    text-align: start;
  }
  .hero_bio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .hero_descr {
    font-weight: 700;
    text-align: start;
    margin-left: 0;
    width: 480px;
  }
  .hero_button {
    margin: 0;
    align-self: flex-start;
    justify-self: flex-start;
  }
}
