@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display');

:root {
  --clr-main-bg:  #f2f2f2;
  --clr-text: #b3c3d7;
  --clr-dark-mode: #1c2025;
  --clr-dark-black: #27282f;
  --clr-text-header: #106370;
  --clr-title: #10f0fc;

  /* font */
  --fs-normal: 1rem;
;
}